<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new chat</h1>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="who are you ?">
        <br>
        <br>
        <textarea name="message" placeholder="enter you message"></textarea>
        <br>
        <br>
        <input type="text" name="to" placeholder="who are you sending to ?">
        <br>
        <br>
        <button>crate </button>
    </form>